@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=IBM+Plex+Sans:ital,wght@0,600;1,300;1,600&family=Mulish:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
}